<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class = "row-fluid">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    
  </div>
</div>


<br><br>
<div class="row-fluid">
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds.com Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-user"></i> Administrator Sign-in
		</li>
		
	</ul>
</div>
