<% provide(:title, 'Administrator Sign-Up')%>
<h1>Administrator Sign-Up</h1>

<div class="row-fluid">
	<div class="span6 offset3">
		<%= form_for(@admin) do |f| %>
		
		  <%= render 'shared/error_messages' %>
		
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		
		  <%= f.label :email %>
	      <%= f.text_field :email %>
		
		  <%= f.label :password %>
      	  <%= f.password_field :password %>

     	  <%= f.label :password_confirmation, "Confirmation" %>
      	  <%= f.password_field :password_confirmation %>
		
		  
		
		  <%= f.submit "Create Administrator Account", class: "btn btn-large btn-primary" %>
		
		<% end %>
	</div>
</div>
		
<br><br>
<ul class="breadcrumb">
	<li>
		<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
	</li>
	<li class="active">
		<i class="icon-icon-star"></i> New Admin
	</li>
	
</ul>
		
