<% provide(:title, 'All articles')%>
<h1>All Articles (<%= @articles.count %>)</h1>
<%= will_paginate %>



<ul class="articles">
	<% @articles.each do |article| %>
    	<li><%= link_to article.title, article %></li>
    	<li>   <%= article.description %></li>
    	<span class = "timestamp">Submitted <%= article.created_at %>.</span>
    	<% if signed_in? %>
    		<li> 
    			<%= link_to 'Edit', edit_article_path(article) %> 
    			<%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %> </li>
    	<% end %>
    	<br>
    <% end %>
</ul>



<%= will_paginate %>
