<% provide(:title, "#{@moxibustion.title}") %>

	
		<div class="row">
			<div class="span2">
				<br>
				<br>
				<h4><%= @moxibustion.title %></h4>
			</div>
			<div class="span10">
				<div class="tabbable">
					
					<ul class="nav nav-tabs pull-right">
						<li class="active">
							<a href="#tab1" data-toggle="tab">Read</a>
						</li>
						<li><a href="#tab2" data-toggle="tab">Edit</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<br><br>
							<div class="article-body">
							<h1><%= @moxibustion.title %></h1>
							
							<p><%= raw @moxibustion.rendered_content%></p>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<p><%= render 'form' %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
						
					
				 
				
				
	
	<div class="row">
		<ul class="breadcrumb">
			<li>
				<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
			</li>
			<li>
				<a href='/moxibustions'><i class="icon-book"></i> All Moxibustion Articles</a> <span class="divider">/</span>
			</li>
			<li class="active">
				<i class="icon-leaf"></i> <%= @moxibustion.title %>
			</li>
		</ul>
	</div>

