<% provide(:title, 'All Cupping Articles')%>
<h1>All Cupping Articles (<%= @cuppings.count %>) </h1>


<div class="row-fluid">
	<div class="span4 offset6"><h2>Coming Soon!</h2></div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<%= will_paginate %>
		
		
		
		<ul class="cuppings">
			<% @cuppings.each do |cupping| %>
				<div class="hero-unit">
			    	<li><%= link_to cupping.title, cupping_path(cupping) %></li>
			    	
			    	<span class = "timestamp">Submitted <%= cupping.created_at %>.</span>
			    	<% if signed_in? %>
			    		<div class="btn-group">
			    		
			    			<button class="btn>"><i class="icon-edit"></i> <%= link_to 'Edit', edit_cupping_path(cupping) %> </button> 
			    			<button class="btn>"><i class="icon-trash"></i> <%= link_to 'Destroy', cupping, confirm: 'Are you sure?', method: :delete %> </button>
			    		</div>
		   		</div>	
		    		<% end %>
		    	<br>
		    <% end %>
		</ul>
		
		
		
		<%= will_paginate %>
	</div>
</div>

<div class="row-fluid">
	
	<br><br>
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-book"></i> All Cupping Articles
		</li>
		
	</ul>
</div>