<h1>New TCM Article</h1>

<%= render 'stylemodal'%>
<br>
<br>

<%= form_for(@tcm) do |f| %>
  <%= render 'form_error' %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :book %><br />
    <%= f.text_field :book %>
  </div>
  
  <div class="field">
  	
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>



