<% provide(:title, "#{@tcm.title}") %>

	
		<div class="row-fluid">
			<div class="span2">
				<br>
				<br>
				<h4><%= @tcm.title %></h4>
			</div>
			<div class="span10">
				<div class="tabbable">
					
					<ul class="nav nav-tabs pull-right">
						<li class="active">
							<a href="#tab1" data-toggle="tab">Read</a>
						</li>
						<li><a href="#tab2" data-toggle="tab">Edit</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<br><br>
							<div class="article-body">
							<h1><%= @tcm.title %></h1>
							<p><%= @tcm.book %></p>
							<p><%= raw @tcm.rendered_content%></p>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<p><%= render 'form' %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
						
					
				 
				
				
	
	<div class="row-fluid">
		<ul class="breadcrumb">
			<li>
				<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
			</li>
			<li>
				<a href='/tcms'><i class="icon-book"></i> All TCM Articles</a> <span class="divider">/</span>
			</li>
			<li class="active">
				<i class="icon-leaf"></i> <%= @tcm.title %>
			</li>
		</ul>
	</div>

