<% provide(:title, 'All Herbs')%>


<div class="row">
	
	
	<div class="span10" id="allHerbs">
		<%= will_paginate %>
		<%= form_tag herbs_path, :method => :get do %>
			<p>
				<div class="searchbox">
					<%= text_field_tag :search, params[:search] %>
				</div>
				<%= submit_tag "Find a Different Herb", :name => nil %>
			</p>
		<% end %>
		
			<ul class="herbs">
				<% @herbs.each do |herb| %>
					
				    <li>
					    <h3><%= link_to herb.name, herb_path(herb) %></h3>
					    <span class = "timestamp">Checked in on <%= herb.created_at.strftime('%b, %d, %Y') %>.
					    </span>
					    <br>
					    <% unless herb.common_name.blank? %>
					    <b>Common Name: </b><i><%= herb.common_name %></i>
					    <% end %>
					    <% unless herb.chinese_name.blank? %>
					    <b>Chinese Name: </b><i><%= herb.chinese_name %></i>
					    <% end %>
					    

					    <br><br>
				    	<div class="overview"><%= raw herb.rendered_overview %></div>
				    	<br>
				 		<% if signed_in? %>
					    	<div class="btn-group">
					    		
						    	<button class="btn">
						    		<i class="icon-edit"></i> 
						   			<%= link_to 'Edit', edit_herb_path(herb) %> 
						   		</button>
						   		
						   		<button class="btn">
					    			<i class="icon-trash"></i> 
					    			<%= link_to 'Destroy', herb, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
					    		</button>
					    	</div>
					    	
				   		
				    	<% end %>
			    	</li>
			    	<br>
			    <% end %>
			</ul>
		
		
		
		
		<%= will_paginate %>
	<div class="btn-group">
		<button class="btn"><a href="/herbs/new">New Herb</a></button>
	</div>
	<br><br>
	</div>
</div>

<div class="row-fluid">
	
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-book"></i> All Herbs
		</li>
		
	</ul>
</div>