<% provide(:title, 'All Herbs')%>
<h1 id="indexTitle">All Herbs (<%= @herbs.count %>) </h1>

<div class="row">
	<div class="span10 offset3" id="allHerbs">
		<%= will_paginate %>
		
		
		
			<ul class="herbs">
				<% @herbs.each do |herb| %>
					
				    <li>
					    
					    	<%= link_to herb.title, herb_path(herb) %>
					                      
					    <span class = "timestamp">Checked in <%= distance_of_time_in_words_to_now(herb.created_at) %> ago.</span>
					    <% if signed_in? %>
					    	<div class="btn-group">
					    		
						    	<button class="btn">
						    		<i class="icon-edit"></i> 
						   			<%= link_to 'Edit', edit_herb_path(herb) %> 
						   		</button>
						   		
						   		<button class="btn">
					    			<i class="icon-trash"></i> 
					    			<%= link_to 'Destroy', herb, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
					    		</button>
					    	</div>
					    	
				   		
				    	<% end %>
				    	
			    	</li>
			    	<br>
			    <% end %>
			</ul>
		
		
		
		
		<%= will_paginate %>
	</div>
</div>

<div class="row-fluid">
	<div class="btn-group">
		<button class="btn"><a href="/herbs/new">New Herb</a></button>
	</div>
	<br><br>
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-book"></i> All Herbs
		</li>
		
	</ul>
</div>