<% provide(:title, 'All Herbs')%>
<h1>All Herbs (<%= @herbs.count %>) </h1>

<div class="row">
	<div class="span8 offset2">
		<%= will_paginate %>
		
		
		
		<ul class="herbs">
			<% @herbs.each do |herb| %>
				<div class="hero-unit">
			    	<li><%= link_to herb.title, herb_path(herb) %></li>
			    	
			    	<span class = "timestamp">Submitted <%= herb.created_at %>.</span>
			    	<% if signed_in? %>
			    		<div class="btn-group">
			    		
			    			<button class="btn>"><i class="icon-edit"></i> <%= link_to 'Edit', edit_herb_path(herb) %> </button> 
			    			<button class="btn>"><i class="icon-trash"></i> <%= link_to 'Destroy', herb, confirm: 'Are you sure?', method: :delete %> </button>
			    		</div>
		   		</div>	
		    		<% end %>
		    	<br>
		    <% end %>
		</ul>
		
		
		
		<%= will_paginate %>
	</div>
</div>

<div class="row">
	<div class="btn-group">
		<button class="btn"><a href="/herbs/new">New Herb</a></button>
	</div>
	<br><br>
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-book"></i> All Herbs
		</li>
		
	</ul>
</div>