<% provide(:title, 'Find Herbs')%>


<div class="row-fluid">

	<% if @first.nil? %>
	<div class="message">
	<h2><%= pluralize(@herbs.count, "match") %> found.</h2>
	</div>
	<% end %>
	<% unless @first.nil? %>
	<div class="message">
	<h2><%= pluralize(@herbs.count + 1, "match") %> found.</h2>
	</div>
	<h3 class="banner">( Check out the <a href="http://www.apothecary1884.com">Shop</a>! )</h3>
</div>

<div class="row-fluid">
	<div class="span6" id="firstresult">
		<div class="well well-large">
			
			<h3><%= link_to @first.name, herb_path(@first) %></h3>
			<p>
				<% unless @first.common_name.blank? %>
					<b>Common Name: </b><i><%= @first.common_name %></i>
				<% end %>
			</p>
			<p>
				<% unless @first.chinese_name.blank? %>
					<b>Chinese Name: </b><i><%= @first.chinese_name %></i>
				<% end %>
			</p>
			<p>
				<%= raw truncate(@first.rendered_overview, :length => 450) %>
			</p>
			<% if signed_in? %>
				<div class="btn-group">
					    		
					<button class="btn">
						<i class="icon-edit"></i> 
						<%= link_to 'Edit', edit_herb_path(@first) %> 
					</button>
						   		
					<button class="btn">
						<i class="icon-trash"></i> 
						<%= link_to 'Destroy', @first, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
					</button>
				</div>
					    	
			<% end %>
			


		</div>
	</div>
	<% end %>
	
	
	
	
	<% unless @second.nil? %>
	<div class="span3" id="herbSearchSmall">
		
		
			<h3><%= link_to @second.name, herb_path(@second) %></h3>
			<p>
				<% unless @second.common_name.blank? %>
					<b>Common Name: </b><i><%= @second.common_name %></i>
				<% end %>
			</p>
			<p>
				<% unless @second.chinese_name.blank? %>
					<b>Chinese Name: </b><i><%= @second.chinese_name %></i>
				<% end %>
			</p>
			<p>
				<%= raw truncate(@second.rendered_overview, :length => 350) %>
			</p>
			<% if signed_in? %>
				<div class="btn-group">
					    		
					<button class="btn">
						<i class="icon-edit"></i> 
						<%= link_to 'Edit', edit_herb_path(@second) %> 
					</button>
						   		
					<button class="btn">
						<i class="icon-trash"></i> 
						<%= link_to 'Destroy', @second, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
					</button>
				</div>
					    	
			<% end %>
		
	</div>
	<% end %>
	
	
	
	<% unless @third.nil? %>
	<div class="span3" id="herbSearchSmall">
		
		
			<h3><%= link_to @third.name, herb_path(@third) %></h3>
			<p>
				<% unless @third.common_name.blank? %>
					<b>Common Name: </b><i><%= @third.common_name %></i>
				<% end %>
			</p>
			<p>
				<% unless @third.chinese_name.blank? %>
					<b>Chinese Name: </b><i><%= @third.chinese_name %></i>
				<% end %>
			</p>
			<p>
				<%= raw truncate(@third.rendered_overview, :length => 350) %>
			</p>
			<% if signed_in? %>
				<div class="btn-group">
					    		
					<button class="btn">
						<i class="icon-edit"></i> 
						<%= link_to 'Edit', edit_herb_path(@third) %> 
					</button>
						   		
					<button class="btn">
						<i class="icon-trash"></i> 
						<%= link_to 'Destroy', @third, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
					</button>
				</div>
					    	
			<% end %>
		
	</div>
	
	<% end %>
</div>
	
<%= render 'herb_display_row', :herbs => @herbs %>

<div class="row-fluid">
	<div class="span6 offset3">
		<div class="smallmessage">
			Not what you're looking for? 
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4 offset4">
	<%= form_tag search_path, :method => :get do %>
			<p>
				<div class="searchbox">

					<%= text_field_tag :search, params[:search] %>
				</div>
			</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span4 offset4">
				<div class="btn-group">
				<%= submit_tag "Find a Different Herb!", :class => 'btn', :name => nil %>
				</div>
			</p>
	<% end %>
	</div>
</div>



<div class="row-fluid">
	
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds.com Home</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-search"></i> Find Herbs
		</li>
		
	</ul>
</div>