<% provide(:title, "#{@herb.name}") %>

<br><br>
<div class="row-fluid">
	<%= render 'herbsidebar' %>

	<div class="span10" id="herbShow">
		<div class="tab-content">
		  <div class="tab-pane active" id="overview-show">
		  		<h1 class="herb-descriptors" id="herb-name"> <%= @herb.name %> </h1>
		  		<p>
		  			<b>Commonly known as:</b> <%= @herb.common_name %>
		  		</p>
		  		<p>
		  			<b>Chinese Name:</b> <%= @herb.chinese_name %>
				</p>
 				<p>
  					<%= raw @herb.rendered_overview %>
	  			</p>

		  		
		  </div>
		  <div class="tab-pane" id="physicaldescription-show">
		  	<h1 class="herb-descriptors">Physical Description</h1>
		  		<p>
		  			<%= raw @herb.rendered_physical_description %>
		  		</p>

		  </div>
		  <div class="tab-pane" id="chemicalcomposition-show">
		  	<h1 class="herb-descriptors">Chemical Composition</h1>
		  		<p>
		  			<%= raw @herb.rendered_chemical_composition %>
		  		</p>
		  </div>
		  <div class="tab-pane" id="medicinaldescription-show">
		  	<h1 class="herb-descriptors">Medicinal Uses</h1>
		  		<p>
		  			<%= raw @herb.rendered_medicinal_description %>
		  		</p>

		  </div>
		  <div class="tab-pane" id="precautions-show">
		  	<h1 class="herb-descriptors">Precautions and Side-Effects</h1>
		  		<p>
		  			<%= raw @herb.rendered_precautions %>
		  		</p>

		  		<p>
		  			<%= raw @herb.rendered_side_effects %>
		  		</p>

		  </div>

		  <div class="tab-pane" id="recentstudies-show">
		  	<h1 class="herb-descriptors">Recent Studies</h1>
		  		<p>
		  			<%= raw @herb.rendered_recent_studies %>
		  		</p>


		  </div>
		</div>
	</div>
</div>
	
						
					
				 
				
				
<br><br>
<div class="row">
	<div class="span12">
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href='/herbs'><i class="icon-book"></i> All Herbs</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-leaf"></i> <%= @herb.name %>
		</li>
	</ul>
	</div>
</div>

