<header class="navbar navbar-fixed-top">
  <div class="navbar-inner" id="mainheader">
    
      <%= link_to "Chinese-Meds", '/', id: "logo" %>
      
     <div class="container-fluid">
	        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        		<span class="icon-bar"></span>
  		   		<span class="icon-bar"></span>
   	    		<span class="icon-bar"></span>
     			</a>
	        	<div class="nav-collapse collapse">
	        	  <ul class="nav nav-pills pull-right" id="headertabs">
  	          	<li><%= link_to "Fundamental Herbs", herbs_path %>
  	            <li><a href='/traditional-chinese-medicine' >Traditional CM</a></li>
  	            <li><%= link_to "Scientific Studies", scientific_studies_path %></li>
  	            <li><%= link_to "Food Therapy", food_therapies_path %></li>
  	            <li><%= link_to "Moxibustion", moxibustions_path %></li>
  	            <li><%= link_to "Acupuncture", acupunctures_path %></li>
  	            <li><%= link_to "Cupping", cuppings_path %></li>
  	            <li><a href="http://www.apothecary1884.com">Apothecary</a></li>





          	</ul>
            </div>

        
      
    </div>
  </div>
  <br>
</header>