<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Chinese-Meds", '/', id: "logo" %>
      <nav>
      	
	        <ul class="nav nav-pills pull-right" id="headertabs">
	        	<li class="divider-vertical"></li>
	          	<li><%= link_to "50+ Fundamental Herbs", herbs_path %><li class="divider-vertical"></li>
	            <li><a href='/traditional-chinese-medicine'>Traditional CM</a></li><li class="divider-vertical"></li>
	            <li><%= link_to "Scientific Studies", scientific_studies_path %></li><li class="divider-vertical"></li>
	            <li><%= link_to "Food Therapy", food_therapies_path %></li><li class="divider-vertical"></li>
	            <li><%= link_to "Moxibustion", moxibustions_path %></li><li class="divider-vertical"></li>
	            <li><%= link_to "Acupuncture", acupunctures_path %></li><li class="divider-vertical"></li>
	            <li><%= link_to "Cupping", cuppings_path %></li><li class="divider-vertical"></li>



	            <% if signed_in? %>
	          	<li class = "dropdown">
	          		<a class = "dropdown-toggle" data-toggle="dropdown" href='#'>
	          		Ad.<b class="caret"></b>
	          		</a>
	          		<ul class="dropdown-menu">
	          			<li><%= link_to "New Herb", new_herb_path%></li>
	                	<li><%= link_to "Settings", edit_admin_path(current_admin) %> </li>
	          			<li class="divider"></li>
	                	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	               </ul>
	            </li>
	          <% end %>

            	
        	</ul>
        
      </nav>
    </div>
  </div>
  <br>
</header>