<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet/less" type="text/css" href="styles.less">
	<script src="less.js" type="text/javascript"></script>
    
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
    
    <meta http-equiv="Content-Language" content = "EN">
    <meta name="description" content="Online authority on Chinese medicine, herbs, teas, extracts, and health supplements. Hundreds of citation-based articles available.">
  	<meta name="keywords" content="chinese medicine, herbs, extracts, teas, health supplements, database, academic">
  	<meta name="classification" content="Chinese medicine, herbs, herbal tea, tea, extracts, health supplements, database">
  	
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="bootstrap-responsive.css"></link> 
  </head>
  <body>
    <%= render 'layouts/header' %>
    <br><br><br><br><br><br><br>
    <div class="container-fluid">
   	  <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>